/* Основные стили */
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif;
    background-color: #1a1a1a;
    color: #f5e6cc;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
    padding: 20px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profession, .location {
    font-size: 18px;
    color: #cccccc;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content {
    max-width: 50%;
}

h1 {
    font-size: 72px;
    margin: 0;
    line-height: 1.2;
    box-shadow: inset 0px -2px rgba(223, 223, 3, 0.774);
}

.description {
    font-size: 16px;
    color: #cccccc;
    margin: 20px 0;
    box-shadow: inset 0px -2px rgba(223, 223, 3, 0.774);
}

.contact-btn {
    background-color: #e3b23c;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    color: #1a1a1a;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #f0c14b;
}

.image-container {
    max-width: 35%;
}

.main-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    opacity: 0.9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.6); /* Усиленная тень */
    border: 5px solid rgba(255, 255, 255, 0.2); /* Светлая обводка */
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2)); /* Легкий градиент */
    transform: scale(1.03); /* Уменьшено с 1.05 до 1.03 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main-image:hover {
    transform: scale(1.07); /* Уменьшено с 1.1 до 1.07 */
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.7); /* Усиленная тень при наведении */
}

/* Медиазапросы для адаптивного дизайна */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .content {
        max-width: 100%;
        text-align: center;
    }

    .image-container {
        display: none; /* Скрытие изображения на мобильных устройствах */
    }

    .contact-btn {
        padding: 15px 30px; /* Увеличение кнопки на мобильных устройствах */
        font-size: 22px;
    }

    h1 {
        font-size: 48px;
    }

    .description {
        font-size: 14px;
    }
}
